<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".kakao.kakoActivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="0e22b0c0a249fcdfc0683fb1afdcbe52"/>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="0e22b0c0a249fcdfc0683fb1afdcbe52"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFNhtlTOx9Zn6iCr9W9Pk631EgsUgOESQ" />




        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="0e22b0c0a249fcdfc0683fb1afdcbe52" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".JoinActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SettingActivity"/>
<!--        <activity android:name=".kakao.KakaoActivity"/>-->

    </application>

</manifest>